.btn {
    display: inline-block;
    float: left;
    padding: 10px 30px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;


}