.conteiner {
  display: inline-block;
  width: 100%;
  padding: calc(var(--section-padding) * 2) 0;
}
.conteiner > .row-short {
  display: inline-block;
  width: 600px;
  margin: 0 calc(50% - 300px);
}

.conteiner > .row {
  display: inline-block;
  width: 1000px;
  margin: 0 calc(50% - 500px);
}

.conteiner > .row > .column {
  display: inline-block;
  float: left;
}
.conteiner > .row > .column.left {
  width: 50%;
}
.conteiner > .row > .column.right {
  width: 40%;
  margin-left: 10%;
}
@media (max-width: 1100px) {
  .conteiner > .row {
    width: 800px;
    margin: 0 calc(50% - 400px);
  }
}

@media (max-width: 900px) {
  .conteiner > .row {
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
}

@media (max-width: 700px) {
  .conteiner > {
    padding-left: 20px;
    padding-right: 20px;
  }
  .conteiner > .row-short {
    width: 100%;
    margin: 0;
  }
  .conteiner > .row {
    width: 100%;
    margin: 0;
  }
  .conteiner > .row > .column.legt {
    width: 100%;
  }
  .conteiner > .row > .column.right {
    width: 100%;
    margin: 0;
    margin-top: calc(var(--section-padding) * 2);
  }
}
